.part {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.partBlock {
	position: relative;
	display: flex;
	column-gap: 55px;
	margin-top: 40px;
	padding: 50px 40px 40px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.leftSide {
	width: 360px;
}
.rigtSide {
	width: 700px;
}

.partImage {
	position: relative;
	width: 360px;
	height: 425px;
	overflow: hidden;
	border-radius: 10px;
	background-color: #c4c4c4;
}

.partImage::before {
	position: absolute;
	content: 'ФОТО';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	color: #f5f5f5;
	font-size: 21px;
	z-index: 0;
}

.partImage img {
	position: relative;
	width: 101%;
	height: 101%;
	object-fit: cover;
	z-index: 1;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: 0.2s;
}

.partImage:hover img {
	transform: translate(-50%, -50%) scale(1.01);
}

.partImage.active {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.95);
	border-radius: 0;
	z-index: 1;
}
.partImage.active img {
	position: fixed;
	height: calc(100% - 50px);
	width: auto;
	z-index: 2;
}

.partArticle {
	font-size: 27px;
	text-align: center;
	padding-top: 40px;
}

.partTitle {
	font-size: 35px;
	height: 150px;
}

.partQuantity {
	margin-top: 100px;
	position: relative;
	width: 215px;
	margin: 0 auto;
}

.quantityBig {
	margin: 0 auto;
	height: 65px;
	width: 200px;
	border: none;
	outline-color: #7d7d7d;
	text-align: center;
	font-size: 46px;
	font-weight: bold;
	color: #f5f5f5;
	padding-right: 10px;
}
.partQuantity button {
	position: absolute;
	width: 25px;
	height: 25px;
	right: 20px;
	cursor: pointer;
	text-align: center;
	color: #f5f5f5;
	font-size: 25px;
	line-height: 25px;
}

.arrowUp {
	top: 38px;
}
.arrowDown {
	bottom: 52px;
}

.partQuantity div {
	font-size: 35px;
}

.partMaximum {
	font-size: 35px;
	height: 170px;
	font-style: italic;
	color: rgb(84, 137, 51);
	padding: 0 40px;
}

.partAmount {
	font-size: 38px;
	margin-top: 35px;
}

.partButtons {
	margin-top: 60px;
	display: flex;
}
